body {
    font-family: Arial, sans-serif;
    background-color: #f2f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.confirm-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.confirm-box h2 {
    margin-bottom: 10px;
}

.confirm-box p {
    margin-bottom: 20px;
    font-weight: bold;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.yes-btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-btn {
    background-color: #7f8c8d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes-btn:hover {
    background-color: #c0392b;
}

.no-btn:hover {
    background-color: #626e70;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn a {
    text-decoration: none;
    color: black;
}
